  <body bgcolor="#E6E6E6">
    </body>



<h3><p style="text-align:center">
 Fake News
 </h3>
 </p>

    <h5><p style="text-align:center">  Lorena Ferreira & Pralads Sada  </br> 2018
    </h5>
    </p>


      
      
      <p align="center">
        <a href= "https://vimeo.com/301960814"><img src="fakenewsvimeo.png" width="30%"> </a> 
      </p>

      
       <p align="center">
<font size="4" face="monospace"> Fake News é uma arma que detecta informações falsas que circulam nos dispositivos de comunicação </br> O gesto de captar e multiplicar mensagens persuasivas puxando o gatilho, gera consequências mortais </br> Recarregada com as fake news que circulam nas ondas electromagnéticas presentes no ambiente, a arma dispara sua munição contra os cidadãos alvo </br> Arma sensível ao toque, utiliza a energia estática da mão do atirador como parte integrante do circuito, dessa forma os ruídos podem ser manipulados, e variam conforme os movimentos da mão e dos dedos </br>

<p style="margin-bottom:50px"></p>

<p align="center">
<i> Fake News is a weapon that detects false information that circulates in the communication devices </br> The gesture of capturing and multiplying persuasive messages by pulling the trigger, generates deadly consequences </br> Recharged with the fake news that circulate in the electromagnetic waves present in the environment, the gun fires its ammunition at target citizens </br> Touch-sensitive weapon, uses the static energy of the sniper's hand as an integral part of the circuit, in this way the noises can be manipulated, and vary according to the movements of the hand and of the fingers </i>
    </p>

<p style="margin-bottom:150px"></p>

 <p align="center">
      <img src="fakenews.jpg" width="50%"/> 
 <p align="center"> Foto: Havane Melo
      </p>

<p style="margin-bottom:150px"></p>
 <p align="center">
      <img src="fakenews2.jpg" width="25%"/>
      </p>


      
     <p align="center">
<font size="4" face="monospace"> Fake News. 2018. Pistola. Circuito integrado, alto falante, fita de cobre, baterias, arma fabricada em impressora 3D. Dimensões: 14 x 18 x 9 cm </br>
<i> Fake News. 2018. Weapon. Integrated circuit, speaker, copper tape, batteries, weapon manufactured in 3D printer. Dimensions, 14 x 18 x 9 cm </i>
</p>
         
      
<p style="margin-bottom:150px"></p>


<font face="monospace"> <p align="left"> <strong> Exposições/<i>Exhibitions </i> </strong> </br>
 <a href="https://www.instagram.com/p/B2w7COIFhCw/"> Atlas para o Futuro - VIII COMA. Galeria Espaço Piloto, Brasília. 14/09/2019 - 30/09/2019 </a>  </br>
   </p>

      


   <p align="left"> <a href="https://www.facebook.com/medialabunb/photos/rpp.259691694487031/660401467749383/?type=3&theater""> Interfaces Computacionais Afetivas. MediaLab UNB, Sesc Gama, Brasília. 29/03/2019 - 30/03/2019 </a>
      </p> 


<p align="left"> <a href="https://www.youtube.com/watch?v=2nJJnQKrPJ4"> Exposição de arte computacional EmMeio#10. Museu Nacional da República. 03/08/2018 - 30/08/2018 </a>
      </p>



  
  <font face="monospace"> <p align="left"> <strong> Publicações/<i>Publications </i> </strong> </br>
       <a href="https://art.medialab.ufg.br/up/779/o/26-Lorena_Ferreira.pdf"> ALVES, Lorena Ferreira. Fake News: contra-ataque à pós-verdade. Anais do #17.ART - 17º Encontro Internacional de Arte e Tecnologia. 2018 </a> </br>
          
           <a href="fakenews.pdf" download="fakenews.pdf"> Descarregar em PDF/<i>Download PDF</i></a>

      </p>


