<body bgcolor="#E6E6E6">
    </body>


 <p style="margin-bottom:100px"></p>


<h3><p style="text-align:center">
 Personal Auricularveillance
 </h3>
 </p>


    <h5><p style="text-align:center">  Lorena Ferreira®  </br> 2019 2020
    </h5>
    </p>

    <p align="center">
         <img src="personal.jpg" width="50%"/>
         </p>



         <p style="margin-bottom:100px"></p>

<p align="center">
<font size="4" face="monospace">  Aprimore a forma que você é vigiado sonoramente pelas grandes empresas </br>
<font size="4" face="monospace">  <i> Improve the way you are surveilled sonorously by big companies </i> 

<p style="margin-bottom:100px"></p>

<p> <img src="personal1.jpg" width="30%" align="left">

<p align="center"> <font face="monospace"> Não se pode mais negar que nossos Smartphones e iPhones estão nos ouvindo </br>
 a cada desejo falado em voz alta, vem a propaganda, seja de uma pizza, um carro ou uma peça de roupa </br>
<p style="margin-bottom:10px"></p> </liv>
</p>

<p align="center"> 

<font face="monospace"> <i> We can no longer deny that our Smartphones and iPhones are listening to us </i> </br>
<i> with every wish spoken aloud comes the advertisement, be it for a pizza, a car, or a piece of clothing </i>
</p>




<p style="margin-bottom:50px"></p>



<p align="center">
<font face="monospace"> Mas agora você não precisa mais se preocupar! </br> 
Com o Personal Auricularveillance você tem o controle de como é vigiado sonoramente em suas mãos!
</p>



<p align="center"> 

<font face="monospace"> <i> But now you don't have to worry anymore! </i> </br> 
<i> With Personal Auricularveillance you have the control of how you are monitored sonically in your hands! </i>
</p>


<p style="margin-bottom:300px"></p>


<font face="monospace"> <p align="center">  Desenvolvido para simular uma das mais sofisticadas tecnologias acústicas, o pavilhão auditivo, </br>
  o Personal Auricularveillance permite que você aprimore, bloqueie ou modifique os sons destinados aos seus vigilantes
</p>

<font face="monospace"> <p align="center">  <i> Designed to simulate one of the most sophisticated acoustic technologies, the auditory pavilion, </br>
  Personal Auricularveillance allows you to enhance, block or modify the sounds intended for your vigilant </i>
</p>

<p style="margin-bottom:100px"></p>


      <font face="monospace"> <p align="left"> Escolha qual Personal Auricularveillance se adequa às suas necessidades:
</p>

 <font face="monospace"> <p align="left"> <i> Choose which Personal Auricularveillance suits your needs: </i>
</p>
 


   <p style="margin-bottom:80px"></p>


    <font face="monospace"> <p align="left"> Personal Auricularveillance One
   </p>

<p style="margin-bottom:50px"></p>
  


   <p><img src="personal5.jpg" align="left" width="500">
     <ul>
   <li>Permite que você aprimore a qualidade da vigilância sonora processada pelo seu aparelho Smartphone ou iPhone
   </br> </br> <i>Allows you to enhance the quality of the sound surveillance processed by your Smartphone or iPhone </i></p></li> 

    <p style="margin-bottom:30px">

          <li>Através das características acústicas do pavilhão auditivo, os sons rebatem na cartilagem da orelha e são direcionados para o interior do microfone, melhorando a capacidade de escuta de seu aparelho de comunicação
</br> </br> <i>Through the acoustic characteristics of the auditory pavilions, sounds rebound off the ear cartilage and are directed into the microphone, improving the listening capability of your communication device </i></p></li> 


</li>
<p style="margin-bottom:30px"></p>
   <li> Basta conectar o microfone do Personal Auricularveillance One em seu aparelho celular e posicioná-lo em local desejado 

</br> </br> <i>Simply plug the Personal Auricularveillance One microphone into your mobile device and place it in the desired location </i></p></li> 
     </ul>


<p style="margin-bottom:190px"></p>


<font face="monospace"> <p align="left"> <strong> 
Personal Auricularveillance Privacy </strong>
</p>


<p style="margin-bottom:50px"></p>


<p><img src="personal7.jpg" align="left" width="500">
  <ul>
<li>Bloqueia a entrada de sons do ambiente garantindo assim a sua privacidade sonora </br> </br>
<i>Blocks out ambient sound, thus ensuring your sonic privacy</i> </p> </li>
  

 <p style="margin-bottom:60px"></p>

       <li>O microfone fica confinado em uma cápsula impedindo a captura de ondas sonoras junto a dois pavilhões auditivos desenvolvidos para barrar a entrada de sons </br> </br>
<i> The microphone is confined in a capsule preventing the capture of sound waves along with two auditory pavilions designed to block the entrance of sounds  </i> </p> </liv>


<p style="margin-bottom:60px"></p>

<li> Basta conectar de microfone do Personal Auricularveillance Privacy em seu aparelho celular e posicioná-lo em local desejado </br> </br>
<i> Simply plug the Personal Auricularveillance Privacy microphone into your mobile device and place it in the desired location </i> </p> </liv> 


  </ul>



  <p style="margin-bottom:550px"></p>


  <font face="monospace"> <p align="left"> <strong> 
  Personal Auricularveillance Ultra </strong>
  </p>
 
<p style="margin-bottom:50px"></p>


  <p><img src="personalultra.jpg" align="left" width="500">
    <ul>
  <li> Além das capacidades do Personal Auricularveillance One e Personal Auricularveillance Privacy, o Personal Auricularveillance Ultra também permite que você altere os sons que estão sendo vigiados </br> </br>
<i> In addition to the capabilities of Personal Auricularveillance One and Personal Auricularveillance Privacy, Personal Auricularveillance Ultra also allows you to change the sounds that are being surveilled  </i> </p> </li>


     <p style="margin-bottom:45px"></p>
         <li>Dispõe de um microfone acoplado no centro dos dois pavilhões auditivos, fones de ouvido que permitem a escolha dos sons a serem vigiados e protetores de orelha que impedem a entrada de ondas sonoras </br> </br>
<i> It has a microphone attached in the center of the two auditory pavilions, headphones that allow the choice of sounds to be monitored, and ear plugs that prevent sound waves from entering

</P> </i>
</li>
  


<p style="margin-bottom:45px"></p>
  <li> Com o Personal Auricularveillance Ultra você pode selecionar o que deseja que seu vigilante ouça, e como quer que as grandes empresas interpretem suas identidades enquanto perfis </br> </br>

<i> With Personal Auricularveillance Ultra you can select what you want your vigilant to hear, and how you want the big companies to interpret your identities as profiles  </i> </p> </li>



  <p style="margin-bottom:45px"></p>
    <li> Basta ligar a saída de microfone do Personal Auricularveillance Ultra em seu aparelho celular e posicioná-lo em local desejado </br> </br>
<i>  Simply plug the Personal Auricularveillance Ultra microphone into your mobile device and place it in the desired location   </i> </p> </li> 

    </ul>


    <p style="margin-bottom:350px"></p>




<p align="center">
         <img src="personal2.jpg" width="40%"/>
         </p>

         <font face="monospace"> <p align="center"> Personal Auricularveillance (2019-2020).Objeto. Borracha de silicone, microfone, fones de ouvido, alumínio, plástico. Dimensões Variadas </br> <i> Personal Auricularveillance (2019-2020). Object. Silicone rubber, microphone, earphones, aluminum, plastic. Varied dimensions </i>
</p>
         
          <p style="margin-bottom:250px"></p>


<p align="center">
         <img src="personal6.jpg" width="30%"/>
         </p>
         
          <p style="margin-bottom:250px"></p>
          
          
          
          <p align="center">
         <img src="personal8.jpg" width="30%"/>
         </p>
         


<font face="monospace"> <p style="text-align:center"> Foto: Caio Amaral </br> 
  
    </p>



<font face="monospace"> <p align="left"> <strong> Exposições/<i>Exhibitions </i> </strong> </br>
 <a href="https://emmeio12.medialab.unb.br/personal-auricularveillance/"> EmMeio#12.0. </a> (Curadoria: Artur Cabral e Joenio Costa) Exposição virtual produzida pelo MEDIALAB/BR e HUB eventos. 2020 </br>
<i> <a href="https://emmeio12.medialab.unb.br/personal-auricularveillance/"> EmMeio#12.0. </a> (Curators: Artur Cabral e Joenio Costa) Virtual exhibition produced by MEDIALAB/BR and HUB events. 2020 </i>
   </p>

</br>
 <a href="https://www.baleiadf.com.br/?lightbox=dataItem-kcyifl64"> Baleia </a> (Curadoria: Cinara Barbosa) Exposição produzida pelo Projeto Baleia, Infinu Comunidade Criativa, Brasília. 2021 </br>
<i> <a href="https://www.baleiadf.com.br/?lightbox=dataItem-kcyifl64"> Baleia </a> (Curadoria: Cinara Barbosa) Exhibition produced by the Project Baleia, Infinu Comunidade Criativa, Brasília. 2021 </i>
   </p>

</br>
</br>


<font face="monospace"> <p align="left"> <strong> Publicações/<i>Publications </i> </strong> </br>
       <a href="https://drive.google.com/file/d/1nSaGeAdP6TjSF5Wa3ENVuqoOTOfZfDOM/view"> ALVES, Lorena Ferreira. Personal Auricularveillance. Anais do #18.ART - 18º Encontro Internacional de Arte e Tecnologia. 2019. Páginas: 1400 - 1407 </a>
           <a href="lorenaferreiraartigo18art.pdf" download="lorenaferreiraartigo18art.pdf"> Descarregar em PDF/<i>Download PDF</i></a>

      </p>
